 .popup {

  display: none;

  position: fixed;

  top: 50%;

  left: 50%;

  transform: translate(-50%, -50%);

  background-color: white;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  z-index: 1000;

  width: 300px;

  padding: 20px;

  text-align: center;

  border-radius: 10px;

}

.popup-content img {

  max-width: 100%;

  height: auto;

  border-radius: 10px;

}

.close-btn {

  position: absolute;

  top: 10px;

  right: 10px;

  font-size:20px;
  cursor: pointer;

}

#popup-background {

  display: none;

  position: fixed;

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);

  z-index: 999;

}
         
        h1 {
  color: #333;
}

form {
  margin: 20px 0;
}

label {
  display: block;
  margin: 10px 0 5px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}
.output {
            margin-top: 20px;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 4px;
            background-color: #fff;
        }

#hasil {
  position:relative;
  color:darkgreen;
}

#hasil p {
  font-size: 18px;
  position:relative;
}
.article {
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.article-title {
  padding: 10px;
  background: #f4f4f4;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.article-title:hover {
  background: #e4e4e4;
}

.arrow {
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.article-content {
  display: none;
  padding: 10px;
  background: #fff;
}
